# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/

# Database
*.db
*.db-shm
*.db-wal

# Logs
logs/
*.log

# Wheel files
*.whl

# Environment variables
.env

# Secrets / API keys
custom_key.toml
